html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.slowlyAppear {
  animation: slowlyAppear .25s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.controlArea { 
  background-color: #708090;
  border: 8px solid black;
}
.turnDisplay {
  text-align: center;
  padding: .5em 0;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  zoom: 1;
  color: #fff;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-box-shadow: 0 3px 0 #1c6394;
  box-shadow: 0 3px 0 #1c6394;
  background-color: #36485b;
}
.btn-container{
  float:left;
  width: 50%;
}
.btn {
  white-space:nowrap; 
  width:100%; 
  padding:14% 0%; 
  font-family: Open Sans, Helvetica, Arial, sans-serif; 
  line-height:18px; 
  display: inline-block;
  zoom: 1; 
  color: #fff; 
  text-align: center; 
  position:relative; 
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  text-decoration: none;
}
.btn.btn-attack{
  background-color: #B22222; 
  -webkit-box-shadow: 0 3px 0 #1c6394; 
  box-shadow: 0 3px 0 #1c6394;
}
.btn.btn-attack:active{
  top: 3px; outline: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;}

.btn.btn-move{
  background-color: #008000; 
  -webkit-box-shadow: 0 3px 0 #1c6394; 
  box-shadow: 0 3px 0 #1c6394;
}
.btn.btn-move:active{
  top: 3px; outline: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}
#buttonArea {
  float: left;
  clear: both;
  width: 100%;
}
.board{
  position: absolute;
  width: 100%;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
.building{
  background-image: url("../img/wall.png");
}
.windowContainer{
  width: 60%;
  height: 75%;
}
.window{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.window.broken {
  background-image: url("../img/broken_window.png");
  background-repeat: no-repeat;
}
.window.blank {
  background-image: url("../img/window.png");
  background-repeat: no-repeat;
}
.window.player {
  background-image: url("../img/sniper.png");
  background-repeat: no-repeat;
}
.col{
  height: 100%;
}
@media screen and (min-width: 767px){
.btn-container{
  float: left;
  width: 50%;
}
#buttonArea {
  float: left;
  clear: both;
  width: 100%;
}
}