html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.slowlyAppear {
  animation: slowlyAppear .25s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.controlArea { 
  background-color: #708090;
  border: 1px solid black;
}
.turnDisplay {
  text-align: center;
  padding: .5em 0;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  zoom: 1;
  color: white;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  background-image: url(../img/camo.png);
}
.turnDisplay text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; /* Adjust as needed */
  border-right: .15em solid white; /* The typwriter cursor */
  margin: 0 auto;
  display:inline-block;
  animation: typing 4s steps(40, end);
  padding: 1% 2%;
  opacity: 0.5;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 64% }
}
.btn-container{
  float:left;
  width: 50%;
}
.btn {
  white-space:nowrap; 
  width:100%; 
  padding:14% 0%; 
  font-family: Open Sans, Helvetica, Arial, sans-serif; 
  line-height:18px; 
  display: inline-block;
  zoom: 1; 
  color: #fff; 
  text-align: center; 
  position:relative; 
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  text-decoration: none;
  border-style: outset;
  border-color: darkslategrey;
  border-width: 5px;
}
.btn.btn-attack{
  background-color: #B22222; 
  -webkit-box-shadow: 0 3px 0 #1c6394; 
  box-shadow: 0 3px 0 #1c6394;
}
.btn.btn-attack:active{
  top: 3px; outline: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;}

.btn.btn-move{
  background-color: #008000; 
  -webkit-box-shadow: 0 3px 0 #1c6394; 
  box-shadow: 0 3px 0 #1c6394;
}
.btn.btn-move:active{
  top: 3px; outline: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}
#buttonArea {
  float: left;
  clear: both;
  width: 100%;
}
.board{
  position: absolute;
  width: 100%;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
#attackBoard,
#attackBoard a {
  cursor: url('../img/crosshair.png') 25 15, default;
}
.building{
  background-image: url("../img/wall.png");
  background-size: 15%;
}
.windowContainer{
  position: absolute;
  text-align: center;
  top:5%;
  left:3%;
  height: 85%;
  width: 94%;
  box-sizing: border-box; 
}
.window{
  width: 80%;
  height: 70%;
  display: inline-block;
  border: grey;
  border-style: inset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.window.broken {
  background-image: url("../img/broken_window.png");
}
.window.blank {
  background-image: url("../img/window.png");
}
.window.player {
  background-image: url("../img/sniper.png");
}
.window.deadPlayer{
  background-image: url("../img/dead.png");
}
.window.supplyCrate{
  background-image: url("../img/supplies.png"); 
}
.col{
  height: 100%;
  float:left;
}
.groundFloor{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 20%;
  top: 80%;
}
.doorContainer{
  height: 90%;
  margin: 3% 40%;
}
.door{
  background-image: url(../img/door.png);
  background-size: 100%;
  height: 100%;
}
@media screen and (min-width: 767px){
.btn-container{
  float: left;
  width: 50%;
}
#buttonArea {
  float: left;
  clear: both;
  width: 100%;
}
}
