html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.controlArea { 
  background-image: url(../img/camo.png);
  border: 1px solid black;
}
.turnDisplay {
  text-align: center;
  padding: 2%;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  zoom: 1;
  color: white;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  background-image: url(../img/camo.png);
}
.turnDisplay text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; /* Adjust as needed */
  margin: 0 auto;
  display:inline-block;
  animation: typing 4s steps(40, end);
  opacity: 0.5;
}
/*#topDisplay{
  padding:2%;
}*/
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.btn-container{
  float:left;
  width: 50%;
  text-align: center;
}
.btn {
  width:90%; 
  padding:9.5% 0%; 
  font-family: Open Sans, Helvetica, Arial, sans-serif; 
  display: inline-block;
  color: #fff; 
  text-align: center; 
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  text-decoration: none;
  border-style: outset;
  border-color: darkslategrey;
  border-width: thin;
}
.btn.btn-attack{
  background-color: #B22222; 
}
.btn.btn-attack:active{
  top: 3px; outline: none; 
}
.btn.btn-move{
  background-color: #008000; 
}
.btn.btn-move:active{
  top: 3px; outline: none; 
}
#buttonArea {
  float: left;
  clear: both;
  width: 100%;
}
.board{
  position: absolute;
  width: 100%;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
#attackBoard,
#attackBoard a {
  cursor: url('../img/crosshair.png') 25 15, default;
}
.building{
  background-image: url("../img/wall.png");
  background-size: 15%;
}
.windowContainer{
  position: absolute;
  text-align: center;
  top:5%;
  left:3%;
  height: 85%;
  width: 94%;
  box-sizing: border-box; 
}
.window{
  width: 80%;
  height: 70%;
  display: inline-block;
  border: grey;
  border-style: inset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.window.broken {
  background-image: url("../img/broken_window.png");
}
.window.blank {
  background-image: url("../img/window.png");
}
.window.player {
  background-image: url("../img/sniper.png");
}
.window.deadPlayer{
  background-image: url("../img/dead.png");
}
.window.supplyCrate{
  background-image: url("../img/supplies.png"); 
}
.col{
  height: 100%;
  float:left;
}
.groundFloor{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 20%;
  top: 80%;
}
.doorContainer{
  height: 90%;
  margin: 3% 40%;
}
.door{
  background-image: url(../img/door.png);
  background-size: 100%;
  height: 100%;
}
.graffitiContainer{
  width: 100%;
  height: 100%;
  float: left;
  clear: both;
}
.graffiti{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  float: left;
}
.graffiti.p1{
  background-image: url(../img/p1tag.png);
  width: 40%;
}
.graffiti.p2{
  background-image: url(../img/p2tag.png);
  width: 40%;
}
.graffiti.graf{
  background-image: url(../img/graffiti.png);
  width: 40%;
  left: 60%;
  position: absolute;
}

/* Helicopter */
.helimation {
    animation: traverse_screen 5s ease-in-out; 
}
.helicopterContainer{
  height: 10%;
  width: 20%;
  position: absolute;
  right: 0;
  top: -10%;
}
.helicopter {
    position: absolute;
    transform: rotate(-15deg) scale(0.2);
}
.helicopter .cockpit {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    background-color: #1e5a1d;
    position: fixed;
    overflow: hidden;
    z-index: 5;
}
.helicopter .cockpit:before {
    content: "";
    width: 170px;
    height: 170px;
    border-radius: 40px;
    background-color: #1e5a1d;
    position: absolute;
    z-index: 5;
    top: -10px;
    left: -25px;
}
.helicopter .cockpit:after {
    content: "";
    width: 170px;
    height: 170px;
    border-radius: 40px;
    background-color: rgba(251, 250, 250, 0.55);
    position: absolute;
    z-index: 8;
    top: -60px;
    left: -60px;
}
.helicopter .tail {
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 330px solid #1e5a1d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10px;
    top: 40px;
    left: 150px;
    transform-origin: left center;
}
.helicopter .main {
    border-bottom: 70px solid rgba(171, 220, 40, 1);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 10px;
    position: absolute;
    left: 130px;
    top: -10px;
}
.helicopter .smallrotor {
    animation: rotate 0.6s linear 0s infinite normal none;
    background-color: rgba( 28,18,2,0.02 );
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 428px;
    border-radius: 100px;
    overflow: hidden;
}
.helicopter .smallrotor div {
    width: 120px;
    height: 10px;
    background-color: rgba( 28,18,2,0.03 );
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -5px;   
}
.helicopter .smallrotor div:nth-of-type(2){
    transform: rotate( 90deg );
}
.helicopter .rotor {
    width: 700px;
    height: 700px;
    border-radius: 350px;
    position: absolute;
    top: -360px;
    left: -200px;
    overflow: hidden;
    background-color: rgba( 28,18,2,0.03 );
    background-color: rgb(200,200,200);
    transform: scale( 1 , 0.075 );
    z-index: 20;
}
.helicopter .rotor .rotator {
    width: 700px;
    height: 700px;
    border-radius: 350px;
    position: absolute;
    animation: rotate 0.6s linear 0s infinite normal none;
}
.helicopter .rotor .rotator div {
    width: 700px;
    height: 60px;
    background-color: rgba( 28,18,2,0.03 );
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -30px;   
}
.helicopter .rotor div:nth-of-type(1) {
  transform: rotate( 0deg );
}
.helicopter .rotor div:nth-of-type(2) {
  transform: rotate( 90deg );
}

@keyframes rotate {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}
@keyframes traverse_screen {
  0% { transform: translate(0%, -250%); } 
  30% { transform: translate(0%, 250%); }
  45% { transform: translate(0%, 150%); }
  100% { transform: translate(-600%, 150%); } 
}

/* Manipulate size for screen size */
@media only screen and (max-device-width:736px){
   /* styles for mobile browsers smaller than 736px; (iPhone 6 plus) */
   .helicopter {
    position: absolute;
    transform: rotate(-15deg) scale(0.2);
  }
}
@media only screen and (min-device-width:1024px){
   /* default iPad screens */
   .helicopter {
    position: absolute;
    transform: rotate(-15deg) scale(0.3);
  }
}
/* End Helicopter */