<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Sniper Game</title>
    <meta name="description" content="Sniper Game">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->
    <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
    <!-- build:[href] css/everything.min.css -->
    <link rel="stylesheet" type="text/css" href="css/game.css"> 
    <!-- <link rel="stylesheet" type="text/css" href="buttontest.css">  -->
    <!-- /build -->
    <!-- build:js js/everything.min.js -->
    <script src="lib/angular.js"></script>
    <script src="lib/turnBasedServices.4.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
    <!-- /build -->
    <!-- ng-class="{r: col < 2, b: row >= 0}"-->
  </head>
  	<body ng-cloak
	    ng-controller="MainController"
	    style="position:absolute; top:0; left:0; width:100%; height:100%;">
    	<div id="gameArea">
<!-- MOVE BOARD -->
      		<div class="board" id="moveBoard" ng-if="is_moving" style="height:{{board_size * 100}}%;">
      		<!-- TESTING BUFF NOTIFICATION -->
      				<div ng-if=" game.hasBuff() != null " class="turnDisplay">	        
			        	You have a {{game.hasBuff()}}!
			       	</div>
<!-- BUILDING -->
      			<div class="building" style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- INNER BUILDING -->
      				<div class="windowContainer">	
<!-- ROWS -->
		        		<div ng-repeat="row in num_rows_as_list" style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
		          			<div ng-repeat="col in num_cols_as_list" class="col" style="width:{{col_size}}%;" id="{{'moveBoard' + row + 'x' + col}}">
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
		                		<a href="#" class="window blank" ng-if="game.isBlank(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- BROKEN GLASS -->
			                	<a href="#" class="window broken" ng-if="game.isBroken(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- CHARACTER MARKER -->
			                	<a href="#" class="window player" ng-if="game.isPos(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- DEAD CHARACTER -->
								<a href="#" class="window deadPlayer" ng-if="game.isDead(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- SUPPLY CRATE -->
								<a href="#" class="window supplyCrate" ng-if="game.isBuff(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
		              		</div>
			    		</div>
			    	</div>
<!-- GROUND FLOOR / DOOR -->
			    	<div class="groundFloor">
			    		<div class="doorContainer">
			    			<div class="door"></div>
		    			</div>
			    	</div>
				</div>
			</div>
<!-- ATTACK BOARD -->
	      	<div class="board" id="attackBoard" ng-if="is_attacking" style="height:{{board_size * 100}}%;">
<!-- BUILDING -->
      			<div class="building" style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- INNER BUILDING -->
      				<div class="windowContainer">	
<!-- ROWS -->
		        		<div ng-repeat="row in num_rows_as_list" style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
		          			<div ng-repeat="col in num_cols_as_list" class="col" style="width:{{col_size}}%;" id="{{'attackBoard' + row + 'x' + col}}">
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
		                		<a href="#" class="window blank" ng-if="game.isBlank(0, row, col)" ng-click="game.cellClicked(row, col, 'attack')"></a>
	<!-- BROKEN GLASS -->
			                	<a href="#" class="window broken" ng-if="game.isBroken(0, row, col)" ng-click="game.cellClicked(row, col, 'attack')"></a>
	<!-- DEAD CHARACTER -->
								<a href="#" class="window deadPlayer" ng-if="game.isDead(0, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
		          			</div>
			    		</div>
			    	</div>
<!-- GROUND FLOOR / DOOR -->
			    	<div class="groundFloor">
			    		<div class="doorContainer">
			    			<div class="door"></div>
		    			</div>
			    	</div>
				</div>
			</div>
<!-- CONTROL AREA -->
		    <div class="controlArea"
		        style="position:absolute; top:{{controls_top_pos}}%; left:0; width:100%;">
		        <div ng-if="!game.firstMove() && game.gameWinner == null ">	        
		        	<div class="turnDisplay" ng-if="game.isMyTurn()"> 
			        	Your turn.
			       	</div>
			       	<div class="turnDisplay" ng-if="!game.isMyTurn()"> 
			        	Opponent's turn.
			       	</div>
		        </div>
		        <!-- GAME OVER BANNER -->
		        <div ng-if="game.gameWinner != null" 
		        	class="controlArea turnDisplay" id="makeFirstMove" ng-if="game.firstMove()">
		        	Player {{game.gameWinner}} wins!
		        </div>
<!-- BUTTONS -->
				<div id=" buttonArea" ng-if="!game.firstMove() && game.gameWinner == null ">
					<div class="btn-container" ng-click="pressed_attack_button()"> 
			        	<a href="#" class="btn btn-attack">Attack</a>
			       	</div>
			        <div class="btn-container" ng-click="pressed_move_button()"> 
			        	<a href="#" class="btn btn-move">Move</a>
			       	</div>
				</div>
<!-- FIRST MOVE BANNER -->
		        <div ng-if="game.firstMove()" class="controlArea turnDisplay" id="makeFirstMove">
		        	Select your starting position.
		        </div>
		    </div>
	    </div>
  	</body>
</html>
