<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TicTacToe</title>
    <meta name="description" content="TicTacToe game">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->
    <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
    <!-- build:[href] css/everything.min.css -->
    <link rel="stylesheet" type="text/css" href="css/game.css"> 
    <link rel="stylesheet" type="text/css" href="buttontest.css"> 
    <!-- /build -->
    <!-- build:js js/everything.min.js -->
    <script src="lib/angular.js"></script>
    <script src="lib/turnBasedServices.4.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
    <!-- /build -->
    <!-- ng-class="{r: col < 2, b: row >= 0}"-->
  </head>
  	<body ng-cloak
	    ng-controller="MainController"
	    style="position:absolute; top:0; left:0; width:100%; height:100%;">
    	<div id="gameArea">
<!-- MOVE BOARD -->
      		<div class="board" id="moveBoard" ng-if="is_moving"
      	   		style="position:absolute; top:0; left:0; width:100%; height:{{board_size * 100}}%;">
        		<svg id="moveBoardBackground" width="100%" height="100%">
<!-- BACKGROUND FILL -->
        			<rect width="100%" height="100%" style="fill:rgb(50,50,50); stroke-width:16px; stroke:rgb(0,0,0)" />
<!-- BUILDING BORDER -->
        			<rect width="100%" height="100%" x="10%" y="10%"
        		  		style="width:80%; height:80%; fill:rgb(115,115,115); stroke-width:2px; stroke:rgb(0,0,0)" />
      			</svg>
<!-- BUILDING -->
      			<div style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- ROWS -->
	        		<div ng-repeat="row in num_rows_as_list"
	            		style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
	          			<div ng-repeat="col in num_cols_as_list"
			            	style="position:absolute; top:0; left:{{col * col_size}}%; width:{{col_size}}%; height:100%;"
			            	id="{{'moveBoard' + row + 'x' + col}}">
<!-- WINDOWS -->
		              		<svg id="{{'moveBoard_window_' + row + 'x' + col}}" 
		              			ng-click="game.cellClicked(row, col, 'move')"
		                    	width="100%" height="100%">
<!-- WINDOW BORDER -->      
			                	<rect width="100%" height="100%" 
			                		style="fill:rgb(201,219,220); stroke-width:16px; stroke:rgb(115,115,115)" />
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
		                		<rect ng-if="game.isBlank(2, row, col)" x="20%" y="25%" 
		                			ng-click="game.cellClicked(row, col, 'move')"
		                			width="60%" height="50%" style="fill:rgb(0,0,255); stroke-width:2px; stroke:rgb(0,0,0)" />
	<!-- BROKEN GLASS -->
			                	<rect ng-if="game.isBroken(2, row, col)" x="20%" y="25%" 
			                		ng-click="game.cellClicked(row, col, 'move')"
			                		width="60%" height="50%" style="fill:rgb(0,0,255); stroke-width:2px; stroke:rgb(0,0,0)" />
	<!-- CHARACTER MARKER -->
			                	<rect ng-if="game.isPos(row, col)" x="20%" y="25%" 
			                		ng-click="game.cellClicked(row, col, 'move')"
			                		width="60%" height="50%" style="fill:rgb(0,0,255); stroke-width:2px; stroke:rgb(0,0,0)" />
		              		</svg>
		          		</div>
			    	</div>
				</div>
			</div>
<!-- ATTACK BOARD -->
	      	<div class="board" id="attackBoard" ng-if="is_attacking"
	      	   	style="position:absolute; top:0; left:0; width:100%; height:{{board_size * 100}}%;">
	        	<svg id="attackBoardBackground" width="100%" height="100%">
<!-- BACKGROUND FILL -->
        			<rect width="100%" height="100%" style="fill:rgb(50,50,50); stroke-width:16px; stroke:rgb(0,0,0)" />
<!-- BUILDING BORDER -->
	        		<rect width="100%" height="100%" x="10%" y="10%"
	        		  	style="width:80%; height:80%; fill:rgb(115,115,115); stroke-width:2px; stroke:rgb(0,0,0)" />
	      		</svg>
<!-- BUILDING -->
      			<div style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- ROWS -->
		        	<div ng-repeat="row in num_rows_as_list"
		            	style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
		          		<div ng-repeat="col in num_cols_as_list"
				            style="position:absolute; top:0; left:{{col * col_size}}%; width:{{col_size}}%; height:100%;"
				            id="{{'attackBoard' + row + 'x' + col}}">
<!-- WINDOWS -->
			              	<svg id="{{'attackBoard_window_' + row + 'x' + col}}" 
			              		ng-click="game.cellClicked(row, col, 'attack')"
			                    width="100%" height="100%">
<!-- WINDOW BORDER -->      
				                <rect width="100%" height="100%" 
				                	style="fill:rgb(201,219,220); stroke-width:16px; stroke:rgb(115,115,115)" />
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
			                	<rect ng-if="game.isBlank(0, row, col)" x="20%" y="25%" 
			                		ng-click="game.cellClicked(row, col, 'attack')"
			                		width="60%" height="50%" style="fill:rgb(0,0,200); stroke-width:2px; stroke:rgb(0,0,0)" />
	<!-- BROKEN GLASS -->
			                	<rect ng-if="game.isBroken(0, row, col)" x="20%" y="25%" 
			                		ng-click="game.cellClicked(row, col, 'attack')"
			                		width="60%" height="50%" style="fill:rgb(0,0,255); stroke-width:2px; stroke:rgb(0,0,0)" />
	<!-- CHARACTER MARKER -->
			                	<rect ng-if="game.isPos(row, col)" x="20%" y="25%" 
			                		ng-click="game.cellClicked(row, col, 'attack')"
			                		width="60%" height="50%" style="fill:rgb(0,0,255); stroke-width:2px; stroke:rgb(0,0,0)" />
		              		</svg>
		          		</div>
			    	</div>
				</div>
			</div>
<!-- CONTROL AREA -->
		    <div id="controlArea"
		        style="position:absolute; top:{{controls_top_pos}}%; left:0; width:100%; height:{{controls_size * 100}}%;">
<!-- BUTTONS -->
		        <text class="btn btn-attack"
		        	ng-click="pressed_attack_button()"
		        	style="position:absolute; top:25%; left:20%; width:25%; height:20%;" > 
		        	Attack
		       	</text>
		        <text class="btn btn-move"
		        	ng-click="pressed_move_button()"
		        	style="position:absolute; top:25%; left:55%; width:25%; height:20%;" > 
		        	Move
		       	</text>
		    </div>
	    </div>
  	</body>
</html>
