<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SnipeCity</title>
    <meta name="description" content="Sniper Game">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->
    <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
    <!-- build:[href] css/everything.min.css -->
    <link rel="stylesheet" type="text/css" href="css/game.css"> 
    <!-- <link rel="stylesheet" type="text/css" href="buttontest.css">  -->
    <!-- /build -->
    <!-- build:js js/everything.min.js -->
    <script src="lib/angular.js"></script>
    <script src="lib/turnBasedServices.4.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
    <!-- /build -->
    <!-- ng-class="{r: col < 2, b: row >= 0}"-->
  </head>
  	<body ng-cloak
	    ng-controller="MainController"
	    style="position:absolute; top:0; left:0; width:100%; height:100%;">
    	<div id="gameArea">
<!-- MOVE BOARD -->
      		<div class="board" id="moveBoard" ng-if="is_moving" style="height:{{board_size * 100}}%;">
	<!-- STATUS BAR -->
      			<div class="turnDisplay" id="topDisplay">
      				<div ng-if=" game.gameWinner == null ">
      					Choose a position to move to! <br>
      				</div> 
      			    <div ng-if=" game.gameWinner != null ">
      					<text>Player {{game.gameWinner}} wins!</text>
      				</div> 
				    <div ng-if=" game.hasBuff() !== '' && game.gameWinner == null ">	        
				        You have a {{game.hasBuff()}}! <br> {{game.buffDescription()}}
				    </div>
			    </div>
<!-- BUILDING -->
      			<div class="building" style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- INNER BUILDING -->
      				<div class="windowContainer">	
<!-- ROWS -->
		        		<div ng-repeat="row in num_rows_as_list" style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
		          			<div ng-repeat="col in num_cols_as_list" class="col" style="width:{{col_size}}%;" id="{{'moveBoard' + row + 'x' + col}}">
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
		                		<a href="#" class="window blank" ng-if="game.isBlank(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- BROKEN GLASS -->
			                	<a href="#" class="window broken" ng-if="game.isBroken(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- CHARACTER MARKER -->
			                	<a href="#" class="window player" ng-if="game.isPos(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- DEAD CHARACTER -->
								<a href="#" class="window deadPlayer" ng-if="game.isDead(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
	<!-- SUPPLY CRATE -->
								<a href="#" class="window supplyCrate" ng-if="game.isBuff(2, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
		              		</div>
			    		</div>
			    	</div>
<!-- GROUND FLOOR / DOOR -->
			    	<div class="groundFloor">
			    		<div class="graffitiContainer">
			    			<div class="graffiti p1" ng-if="game.isP1()"></div>
			    			<div class="graffiti p2" ng-if="game.isP2()"></div>
			    			<div class="graffiti graf"></div>
			    		</div>
			    		<div class="doorContainer">
			    			<div class="door"></div>
		    			</div>
			    	</div>
				</div>
<!-- HELICOPTER -->
				<div class="helimation helicopterContainer">
	            	<div class="helicopter">
	                	<div class="cockpit"></div>
	                	<div class="tail"></div>
	                	<div class="main"></div>
	                	<div class="rotor">
	                    	<div class="rotator">
		                        <div></div>
		                        <div></div>
	                    	</div>
	                	</div>
	                	<div class="smallrotor">
	                    	<div></div>
	                    	<div></div>
	                	</div>
	            	</div>
	        	</div>
			</div>
<!-- ATTACK BOARD -->
	      	<div class="board" id="attackBoard" ng-if="is_attacking" style="height:{{board_size * 100}}%;">
	<!-- STATUS BAR -->
      			<div class="turnDisplay">
      				<div ng-if=" game.gameWinner == null ">
      					Choose a position to attack! <br>
      				</div> 
      			    <div ng-if=" game.gameWinner != null ">
      					<text>Player {{game.gameWinner}} wins!</text>
      				</div> 
				    <div ng-if=" game.hasBuff() !== '' && game.gameWinner == null ">	        
				        You have a {{game.hasBuff()}}! <br> {{game.buffDescription()}}
				    </div>
			    </div>
<!-- BUILDING -->
      			<div class="building" style="position:absolute; top:15%; left:15%; width:70%; height:80%;">
<!-- INNER BUILDING -->
      				<div class="windowContainer">	
<!-- ROWS -->
		        		<div ng-repeat="row in num_rows_as_list" style="position:absolute; top:{{(row * row_size)}}%; left:0; width:100%; height:{{row_size}}%;">
<!-- COLUMNS -->
		          			<div ng-repeat="col in num_cols_as_list" class="col" style="width:{{col_size}}%;" id="{{'attackBoard' + row + 'x' + col}}">
<!-- WINDOW EFFECTS -->
	<!-- WINDOW PANE -->
		                		<a href="#" class="window blank" ng-if="game.isBlank(0, row, col)" ng-click="game.cellClicked(row, col, 'attack')"></a>
	<!-- BROKEN GLASS -->
			                	<a href="#" class="window broken" ng-if="game.isBroken(0, row, col)" ng-click="game.cellClicked(row, col, 'attack')"></a>
	<!-- DEAD CHARACTER -->
								<a href="#" class="window deadPlayer" ng-if="game.isDead(0, row, col)" ng-click="game.cellClicked(row, col, 'move')"></a>
		          			</div>
			    		</div>
			    	</div>
<!-- GROUND FLOOR / DOOR -->
			    	<div class="groundFloor">
			    		<div class="graffitiContainer">
			    			<div class="graffiti p1" ng-if="game.isP1()"></div>
			    			<div class="graffiti p2" ng-if="game.isP2()"></div>
			    			<div class="graffiti graf"></div>
			    		</div>
			    		<div class="doorContainer">
			    			<div class="door"></div>
		    			</div>
			    	</div>
				</div>
			</div>
<!-- INTRODUCTION DISPLAY -->
	    	<div id="introduction" style="display:none">
        		<div class="turnDisplay">
        			<text>
        				Welcome to Snipe City.<br/><br/>
        				Your mission is to locate and kill the 
        				enemy sniper located in the building across from
        				yours. <br/>
        				Reposition yourself in your building hideout to 
        				avoid being hit and to pick up buffs when they spawn. <br/><br/>
        				Good luck, Sergeant!
        			</text>
        			<div class="btn-container" onclick="toggleIntroduction();"> 
			        	<a href="#" class="btn btn-close">Close</a>
			       	</div>
        		</div>
        	</div>
        	<div id="help" class="btn-container" onclick="toggleIntroduction()"><a href="#" class="btn btn-help">?</a></div>
<!-- CONTROL AREA -->
		    <div class="controlArea"
		        style="position:absolute; top:{{controls_top_pos}}%; left:0; width:100%; height:{{controls_size * 100}}%;">
		        <div ng-if="!game.firstMove()">	        
		        	<div class="turnDisplay" ng-if="game.isMyTurn() && game.gameWinner == null"> 
			        	<text>Your turn.</text>
			       	</div>
			       	<div class="turnDisplay" ng-if="!game.isMyTurn() && game.gameWinner == null"> 
			        	<text>Opponent's turn.</text>
			       	</div>
		        </div>
<!-- GAME OVER BANNER -->
			    <div ng-if="game.gameWinner != null" class="controlArea turnDisplay" id="makeFirstMove">
		        	<text>Player {{game.gameWinner}} wins!</text>
		        </div>
<!-- FIRST MOVE BANNER -->
		        <div ng-if="game.firstMove()" class="controlArea turnDisplay" id="makeFirstMove">
		        	<text>Select your starting position.</text>
		        </div>
<!-- BUTTONS -->
				<div class="btn-container" ng-click="pressed_attack_button()"> 
		        	<a href="#" class="btn btn-attack">Attack</a>
		       	</div>
		        <div class="btn-container" ng-click="pressed_move_button()"> 
		        	<a href="#" class="btn btn-move">Move</a>
		       	</div>
		    </div>
	    </div>
	    <script>
	    	// UI Helper Functions //
			function toggleIntroduction() {
			    let intro = document.getElementById("introduction");
    			intro.style.display = (intro.style.display == "none") ? "inherit" : "none";
			}
	    </script>
  	</body>
</html>
